.star-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: var(--shadow-small);
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: var(--shadow-small);
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: var(--shadow-medium);
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: var(--shadow-medium);
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: var(--shadow-big);
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: var(--shadow-big);
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}